node_modules
yarn.lock
tests/output
test/output
bench/output
benches/output
build
pnpm-lock.yaml
package-lock.json
assembly/tsconfig.json
.vscode
transform/anyTransform/lib
transform/schemaTransform/lib